<div class="container text-center" style="margin-top: 50px;">
<h3>Please upload an image of yourself</h3>

<%= form_for @user, url: url_for(controller: 'registrations', action: 'update_image') do |f| %>

  <div class="field">
    <%= f.file_field :image, :style => "margin-left:12%" %>
  </div>

  <div class="actions">
    <%= f.submit "Upload Image", :class => "btn btn-primary", :style => "margin-top: 10px" %>
  </div>
<% end %>

<%= form_for @user, url: url_for(controller: 'registrations', action: 'update_image') do |f| %>

  <div class="field">
    <%= f.hidden_field :image, value: params[:image]%>
  </div>

  <div class="actions">
    <%= f.submit "Skip", :class => "btn btn-primary", :style => "margin-top: 10px" %>
  </div>

  <%end%>

</div>
